
<div *ngIf="!config" style="flex:1;display:flex;align-items:center;justify-content:center;">
    <mat-spinner></mat-spinner>

</div>

<div *ngIf="config" style="flex:1;display:flex;flex-direction: column">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Service Dashboard</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">verified_user</mat-icon> rrizun
            <!-- <mat-icon class="example-icon">delete</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-progress-bar *ngIf="remoteService.busy>0" mode="indeterminate"></mat-progress-bar>

    <div class="foo" style="display:flex;align-items:center;justify-content: space-around;">
        <a href="#">Users</a>
        <a href="#">Organizations</a>
        <a href="#">Service Accounts</a>
        <a href="#">Flights</a>
    </div>

    <div>
        <div> local-time:
                {{now()|date:"medium"}}
                <!-- <local-time datetime="2018-11-21T05:30:00Z">2018-11-21T05:30:00Z</local-time> -->
        </div>
    
        <div style="color:#777">
            relative-time:
            <relative-time [attr.datetime]="now()"></relative-time>
        </div>
    
        <div>
            time-until:
            <time-until [attr.datetime]="now()">
            </time-until>
        </div>
    
        <div>time-ago:
            <time-ago datetime="2012-04-01T16:30:00-08:00">
            </time-ago>
        </div>
    
        <div>time-ago-micro:
            <time-ago datetime="2012-04-01T16:30:00-08:00" format="micro">
            </time-ago>
        </div>
                              
                
    <div style="flex:5;display:flex">
        <router-outlet></router-outlet>
    </div>

    <div class="mat-h1" style="text-align: center">Console {{remoteService.messages.length>0?"("+remoteService.messages.length+")":""}}</div>

    <div class="foo" style="flex:1;display:flex">
        <div style="flex:1;color:#777;overflow-x:hidden;overflow-y:auto">
            <pre *ngFor="let message of remoteService.messages">
                {{ message }}
            </pre>
        </div>
    </div>

</div>